<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Gantry</string>
	<key>CFBundleExecutable</key>
	<string>Gantry</string>
	<key>CFBundleGetInfoString</key>
	<string>Gantry by Kamil Grzegorczyk (@parametryczny)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>pl.gantry.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Gantry</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.0</string>
	<key>CFBundleVersion</key>
	<string>0.6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_gantry._tcp</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Kamil Grzegorczyk (@parametryczny)</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Gantry wykrywa i monitoruje drukarki 3D w sieci lokalnej.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
